<!-- index.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <style>
        body {
            width: 80%;
            margin: auto;
        }

        .cool {
            background-color: rebeccapurple;
            color: white;
        }
    </style>
    <title>Vue Basics</title>
</head>

<body>
    <div id="app">
        <!-- Rendering static data -->
        <h1>{{ title }}</h1>
        <!-- Calling methods -->
        <h2>{{ greet() }}</h2>

        <br>
        <hr>
        <br>
        <!-- Data-binding -->
        <h1 v-bind:class="my_cool_class">Hi there {{ name }}</h1>
        <!-- Data-binding (shorthand) -->
        <h1 :class="my_cool_class">Hi there {{ name }}</h1>

        <br>
        <hr>
        <!-- Two-way binding with v-model -->
        <input type="text" v-model:value="name">

        <br>
        <hr>
        <br>
        <h2>Handling Events</h2>
        <label>Strength: {{strength}}</label>
        <!-- Handle events inline javascript -->
        <button v-on:click="strength++">+</button>
        <button v-on:click="strength--">-</button>
        <br>
        <label>Dexterity: {{dexterity}}</label>
        <!-- Handle events inline javascript - Shorthand -->
        <button @click="dexterity++">+</button>
        <button @click="dexterity--">-</button>

        <br>
        <label>XP: {{XP}}</label>
        <!-- Handle events with custom method - Shorthand -->
        <button @click="increaseXP(20)">+</button>

        <br>
        <h2>Conditional Rendering</h2>
        <!-- this <p> element will only be rendered if hasShield is true in our model -->
        <p v-if="hasShield">{{ name }} has a shield!</p>
        <p v-else>{{ name }} does NOT have a shield!</p>

        <h2>Looping</h2>
        <!-- Display our inventory items using v-for -->
        <h3>Inventory Items</h3>
        <ul>
            <li v-for="item in inventory">
                {{ item }}
            </li>
        </ul>
    </div>

    <script src="app.js"></script>
</body>

</html>