        <!-- Handle events with method -->
        <button v-on:click="changeWage(20)">By Amount</button>
        <br>
        <br>
        <!-- Sending event info -->
        <!-- @ = v-on: -->
        <button @click="logEvent">Log Event</button>

        <!-- More events -->
        <div class="canvas" @mousemove="logCoords">
            {{ coords.x}}, {{ coords.y }}
        </div>

        <!-- Keyboard events -->
        <input type="text" name="" @keyup="updateName" id="">

        <br>
        <br>

        <label for="">Two Way Name</label>
        <!-- Two way binding -->
        <input type="text" name="" v-model="name" id="">

        <br>
        <!-- Modifiers -->
        <button @click.shift="logMessage">Log Message Shift</button>

        <!-- Prevent default modifier -->
        <a href="http://www.google.com" @click.prevent="logMessage">Google</a>

        <!-- Conditional -->
        <p v-if="showName">{{ name }}</p>
        <!-- If showName === true in model show the name else 
                    if showAge === true then show age -->
        <p v-else-if="showAge">25</p>
        <button @click="toggleName">Show Name {{ showName }}</button>

        <button @click="toggleAge">Show Age {{ showAge }}</button>

        <!-- Looping -->
        <ul>
            <li v-for="item in items">{{ item }}</li>
        </ul>
        <!-- Looping over an array of objects -->
        <div class="ninja" v-for="ninja in ninjas">
            <p>{{  ninja.name }}, {{ ninja.age }}, {{ ninja.belt }}</p>
        </div>

        <!-- Looping over an array of objects getting index -->
        <div class="ninja" v-for="(ninja, index) in ninjas">
            <p> {{index }} {{  ninja.name }}, {{ ninja.age }}, {{ ninja.belt }}</p>
        </div>